
/** ADD YOUR AWESOME CODES HERE **/

img {
    width: 100px; /* ajusta este valor al tamaño deseado */
    height: auto;
}

.edit-image-icon {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 50%;
    z-index: 10;
}

.edit-actions .save-btn {
    background-color: #4CAF50; /* Color verde para el botón "Guardar" */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-actions .save-btn:hover {
    background-color: #45a049; /* Color verde oscuro al pasar el cursor */
}

.edit-actions .cancel-btn {
    background-color: #f44336; /* Color rojo para el botón "Cancelar" */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.edit-actions .cancel-btn:hover {
    background-color: #d32f2f; /* Color rojo oscuro al pasar el cursor */
}

.editable-image-container {
    position: relative;
    display: inline-block;
}

.edit-image-icon {
    position: absolute;
    bottom: 10px; /* Ajusta según sea necesario */
    right: 10px; /* Ajusta según sea necesario */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white; /* Color del ícono */
    border-radius: 50%; /* Bordes redondeados */
    padding: 5px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano al pasar por encima */
    z-index: 10; /* Asegura que esté por encima de otros elementos */
}


.edit-image-icon:hover {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro al pasar el cursor */
}

/* Asegura que la imagen cargada ocupe el 100% del ancho disponible */
#event-details img {
    width: 100%;
    height: auto;
}

/* Opcional: Añadir un margen interno para que la imagen no toque los bordes de la pantalla */
#event-details {
    padding: 20px;
}

#event-details-container .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.audio-controls {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

#playPauseBtn {
    padding: 5px 10px;
}

#volumeControl {
    width: 100px;
}

.audio-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 1000;
    padding: 5px;
    border-radius: 5px;
    width: auto; /* Ajusta el ancho automáticamente al contenido */
    height: auto; /* Ajusta la altura automáticamente al contenido */
    max-width: none;
    max-height: none;
    white-space: nowrap; /* Evita que el contenido se envuelva en varias líneas */
}



.audio-controls button {
    line-height: 1.2; /* Ajusta la altura del texto en el botón */
    padding: 3px 8px; /* Ajusta el espacio interior del botón */
    font-size: 12px; /* Tamaño de la fuente del botón */
}
